fastapi==0.136.3
uvicorn[standard]==0.46.0
opencv-python==4.13.0.92
onvif-zeep==0.2.12
websockets==16.0
SQLAlchemy==2.0.50
python-dotenv==1.2.2
streamlit==1.57.0
requests==2.34.0
websocket-client==1.6.4
pydantic==2.13.4
